Code - OSS
BraveSoftware
dconf
discord
pulse
zoom
chromium
qalculate
Unknown Organization
vlc
balena-etcher-electron
cef_user_data
composer
Postman 
pavucontrol.ini
systemd
lftp
manus
dconf
ibus
htop
gtk-2.0
gtk-3.0
mimeapps.list
QtProject.conf
rofi.manu320
xfce4
Thunar

